<%- include('partials/header') %>
<link rel="stylesheet" href="css/ticket.css">

    <title>Admin Home</title>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">

      <link rel="stylesheet" href="css/style.css">
    <style>
        
    </style>
</head>

<body>
<%- include('partials/navbaradmin') %>
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <form method="POST">
            <a href="/adminallflights" class="btn btn-primary">Show all passengers</a>
            <br>
            <br>
            <a href="/addairport" class="btn btn-primary" >Add an Airport</a>
            <br>
            <br>
            <a href="/addroute" class="btn btn-primary" >Add a Route</a>
            <br>
            <br>
            <a href="/addaircraft" class="btn btn-primary" >Add an aircraft</a>
            <br>
            <br>
            <a href="/addflights" class="btn btn-primary" >Add a Flight</a>
            <br>
            <br>
            <a href="/reschedule" class="btn btn-primary" >Reschedule/Cancel Flight</a>
        </form>
    </div>
</body>
</html>


    <!-- JS -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="js/main.js"></script> -->

<%- include('partials/footer') %>
