<%- include('partials/header') %>
<link rel="stylesheet" href="css/ticket.css">

    <title>Book Flight</title>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
      <link rel="stylesheet" href="css/style.css">
  
</head>

<body>
    <!-- <form method="POST">
        <input type="number" name="flightid">
        <input type="submit" value="show passengers">
    </form> -->
    <div class="d-flex justify-content-center">
        <form method="POST">
            <a href="/adminallflights">showallflights</a>
            <br>
            <a href="/addairport">addairport</a>
            <br>
            <a href="/addroute">addroute</a>
            <br>
            <a href="/addaircraft">addaircraft</a>
            <br>
            <a href="/addflights">addflight</a>
        </form>
    </div>
</body>
</html>


    <!-- JS -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="js/main.js"></script> -->

<%- include('partials/footer') %>
