<%- include('partials/header') %>
    <title>Book Flight</title>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Book Flight</h2>
                        <form method="POST" class="register-form" id="register-form" autocomplete="off">
                            <div class="form-group">
                                <label for="name"><i class="fas fa-user"></i></label>
                                <input type="text" name="name" id="name" placeholder="Name"/>
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="fas fa-user"></i></label>
                                <input type="date" name="date" id="date" placeholder="Name"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Book"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    <!-- JS -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="js/main.js"></script> -->

<%- include('partials/footer') %>
