<%- include('partials/header') %>
    <title>Sign In</title>
</head>
<body>
        
    <!-- Sing in  Form -->
        <a href="/register">register here</a>
        <section class="sign-in main">
        </section>

    </div> 

<%- include('partials/footer') %>
