<%- include('partials/header') %>
<link rel="stylesheet" href="css/flights.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <style>
    .showbtn:hover {
        color: HSL(var(--button-hover-text-color, 0, 0%, 100%));
        background-color: darkorange;
        opacity: 0.9;
      }</style>
    <title>Book Flight</title>
<script>
// function datepick()
// {
//     var todaysDate = new Date(); 
//     var year = todaysDate.getFullYear();                        // YYYY
//     var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);  // MM
//     var day = ("0" + todaysDate.getDate()).slice(-2);           // DD
//     var minDate = (year +"-"+ month +"-"+ day);                 // Results in "YYYY-MM-DD" for today's date 

//     document.getElementsByName("date")[0].setAttribute('min', minDate);    //min accepts only ISO form
     

// }

function updateSelect(changedSelect, selectId) {
   var otherSelect = document.getElementById(selectId);
   for (var i = 0; i < otherSelect.options.length; ++i) {
       otherSelect.options[i].disabled = false;
   }
   if (changedSelect.selectedIndex == 0) {
      return;
   }
   otherSelect.options[changedSelect.selectedIndex].disabled = true;
}

</script>
    
    
</head>
<body>
    <section class="bcimage banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <!-- <div class="left-side">
                        <div class="tabs-content">
                            <h4>Choose Your Direction:</h4>
                            <ul class="social-links">
                                <li><a href="http://facebook.com">Find us on <em>Facebook</em><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://youtube.com">Our <em>YouTube</em> Channel<i class="fa fa-youtube"></i></a></li>
                                <li><a href="http://instagram.com">Follow our <em>instagram</em><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="page-direction-button">
                            <a href="contact.html"><i class="fa fa-phone"></i>Contact Us Now</a>
                        </div>
                    </div> -->
                <!-- </div>
                <div class="col-md-5 col-md-offset-1"> -->
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <div class="submit-form"  style="border-radius: 1.5rem;">
                                <h4>Check availability for <em>flights</em>:</h4>
                                <form id="form-submit" action="" method="POST">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="dept">From:</label>
                                                <select required name='dept' id="place1" onchange="updateSelect(this,'place2')" >
                                                    <option value="">Select a location...</option>
                                                    <% for (var i = 0; i < destinationsfound.length; i++) { %>
                                                        
                                                        <option>
                                                           <%= destinationsfound[i].city %>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="arr">To:</label>
                                                <select required name='arr' id="place2" onchange="updateSelect(this,'place1')" >
                                                    <option value="">Select a location...</option>
                                                    <% for (var i = 0; i < destinationsfound.length; i++) { %>
                                                        <option>
                                                           <%= destinationsfound[i].city %>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="departure">Departure date:</label>
                                                <input name="date" type="date" class="form-control date" id="departure" placeholder="Select date..." required>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-6">
                                            <fieldset>
                                                <label for="return">Number of passengers: </label>
                                                <input name="pcount" type="number" class="form-control date" id="return" placeholder="Number of passengers" min="1" required>
                                            </fieldset>
                                        </div>
                                        <!-- <div class="col-md-6">
                                            <fieldset>
                                                <label for="return">Return date:</label>
                                                <input name="return" type="text" class="form-control date" id="return" placeholder="Select date..." required="">
                                            </fieldset>
                                        </div> -->
                                        <!-- <div class="col-md-6">
                                            <div class="radio-select">
                                                <div class="row">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <label for="round">Round</label>
                                                        <input type="radio" name="trip" id="round" value="round" required="required>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <label for="oneway">Oneway</label>
                                                        <input type="radio" name="trip" id="oneway" value="one-way" required="required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-md-5">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="showbtn" style="border-radius: 0.8rem;
                                                padding: 0.75em 2em;
                                                appearance: none;
                                                background-color: HSL(var(--button-background-color, var(--color-orange)));
                                                color: HSL(var(--button-text-color, 0, 0%, 100%));
                                                font-size: 1.5rem;
                                                border: none;
                                                cursor: pointer;
                                                transition: background-color 0.7s var(--ease-out-quart), color 0.7s var(--ease-out-quart);">Show flights</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
  <script>
         datepick();
    </script>
<%- include('partials/footer') %>
